
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body { 
	width: 100%;
	position: relative;
}


nav {
	background-color: #ffffff;
}

nav ul a {
	color: #E9CFEC;
	font-size: 22px;
}

.brand-logo {
	color: #737CA1 !important;
	padding-left: 1% !important;
}

.button-collapse {
	color: #E9CFEC !important;
}

.padLeft {
	padding-left: 4% !important;
}

.padRight {
	padding-right: 4% !important;
}


.waves-effect {
	background-color: #737CA1 ;
}

nav {
	position:relative;
}

.highlight {
	color: #737CA1;
	font-weight: bold;
}

.home {
	width: 100%;
	background-color:#EBDDE2;
	text-align: center;
	position: relative;
	padding: 5%;
}

.home h1 {
	color: #737CA1;
	font-size:350%;
	vertical-align: middle;
}

pre code xmp {
	font-family: "Courier 10 Pitch", Courier, monospace;
}

h2 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #737CA1
}

p {
	font-family: 'Raleway', sans-serif;
}

h5 { 

	font-size: 20px;

 }

.skill-bar {
    background: #EBDDE2;
    display: table;
    height: 4px;
    width: 32%;
    margin: 10px -2px 20px -2px;
    position: relative;
    left: 50%;
}

.skill-bar .skill-rate-on {
    background: #737CA1;
}

.skill-rate-on, .skill-rate-off {
    display: table-cell;
    border-left: 2px solid #EBDDE2;
    border-right: 2px solid #EBDDE2;
}



footer {
	text-align: center;
	background-color: #EBDDE2 ;
}

.icon {
	padding: 5%;
} 


@media only screen and (max-width: 900px) {

	.home h1 {
		font-size:200%;
	}
}

@media only screen and (max-width: 720px) {

	.home h1 {
		font-size:190%;
	}
}

@media only screen and (max-width: 580px) {

	.home h1 {
		font-size:150%;
	}
}

